@charset "utf-8";
@import url(../../css/EBGaramond.css);
@import url(../../css/notosanskr.css);
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	word-break:break-word;
	/* 영문 한글 단어 단위로 줄바꿈
	word-break:keep-all; word-wrap:break-word;
	*/
	-webkit-text-size-adjust:none;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{margin:0;padding:0;border:0;}
html{height:100%;overflow-y:scroll;font-size:12px;}
html.scroll_no{overflow-y:hidden;}
body{height:100%;line-height:1.7;background-color:#fff;font-family:'Noto Sans KR','EBGaramond','dotum',sans-serif;font-style:normal;font-size:12px;color:#222;}
nav,ol,ul{list-style:none;}
label,input,button,select,img{vertical-align:middle}
label{cursor:pointer;}
input,button{margin:0;padding:0;font-family:'Noto Sans KR','EBGaramond','dotum',sans-serif;font-style:normal;font-size:12px;color:#222;}
button{cursor:pointer;}
button *{vertical-align:middle;}
textarea,select{font-family:'Noto Sans KR','EBGaramond','dotum',sans-serif;font-style:normal;font-size:12px;color:#222;}
select{margin:0;background-color:#fff;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:700;}
h1,h2,h3,h4,h5,h6{font-size:12px;}
address,cite,em,i{font-style:normal;}
a:link,a:visited{color:#222;text-decoration:none}
a:hover,a:focus,a:active{color:#222;background-color:transparent;text-decoration:underline;}
table{width:100%;border-collapse:collapse;border-spacing:0}
fieldset {min-width:0;}
textarea, button, input:not([type="radio"]):not([type="checkbox"]){
	-webkit-appearance:none;
	border-radius: 0;
}
caption {overflow:hidden; visibility:hidden; width:0; height:0; font-size:0; line-height:0;}
legend{position:absolute;top:0px;left:-9999px;line-height:0px;font-size:0px;text-indent:-9999px}

::-webkit-input-placeholder { color:#999; }
::-moz-placeholder { color:#999; } /* firefox 19+ */
::-ms-input-placeholder { color:#999; }
:-ms-input-placeholder { color:#999 !important; }
::placeholder{color:#999; }